<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.IndustrialRegisterMapper">
    
    <sql id="industrialRegisterColumns">
    a.id AS "id",
        a.company_name AS "companyName",
        a.credit_code AS "creditCode",
        a.trade_name AS "tradeName",
        a.trade_id AS "tradeId",
        a.register_capital AS "registerCapital",
        a.company_location AS "companyLocation",
        a.juridical_person AS "juridicalPerson",
        a.project_id AS "projectId",
        a.project_name AS "projectName",
        a.juridical_phone AS "juridicalPhone",
        a.create_date AS "createDate",
        a.create_by AS "createBy",
        a.del_flag AS "delFlag"        </sql>

    <sql id="industrialRegisterLeftJoin">
    </sql>

    <select id="get" resultType="IndustrialRegister">
        SELECT
        <include refid="industrialRegisterColumns"/>
        FROM
        industrial_register a
        <include refid="industrialRegisterLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="IndustrialRegister">
        SELECT
        <include refid="industrialRegisterColumns"/>
        FROM
        industrial_register a
        <include refid="industrialRegisterLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        <if test="companyName != null  and companyName != ''"> and a.company_name like concat('%', #{companyName}, '%')</if>
        <if test="tradeName != null  and tradeName != ''"> and a.trade_name like concat('%', #{tradeName}, '%')</if>
        <if test="tradeId != null  and tradeId != ''"> and a.trade_id = #{tradeId}</if>
        <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
        <if test="projectName != null  and projectName != ''"> and a.project_name like concat('%', #{projectName}, '%')</if>
        </where>
    </select>


    <insert id="insert" parameterType="IndustrialRegister">
        insert into industrial_register
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="companyName != null  and companyName != ''">company_name,</if>
            <if test="creditCode != null  and creditCode != ''">credit_code,</if>
            <if test="tradeName != null  and tradeName != ''">trade_name,</if>
            <if test="tradeId != null  and tradeId != ''">trade_id,</if>
            <if test="registerCapital != null  and registerCapital != ''">register_capital,</if>
            <if test="companyLocation != null  and companyLocation != ''">company_location,</if>
            <if test="juridicalPerson != null  and juridicalPerson != ''">juridical_person,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="projectName != null  and projectName != ''">project_name,</if>
            <if test="juridicalPhone != null  and juridicalPhone != ''">juridical_phone,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="companyName != null  and companyName != ''">#{companyName},</if>
            <if test="creditCode != null  and creditCode != ''">#{creditCode},</if>
            <if test="tradeName != null  and tradeName != ''">#{tradeName},</if>
            <if test="tradeId != null  and tradeId != ''">#{tradeId},</if>
            <if test="registerCapital != null  and registerCapital != ''">#{registerCapital},</if>
            <if test="companyLocation != null  and companyLocation != ''">#{companyLocation},</if>
            <if test="juridicalPerson != null  and juridicalPerson != ''">#{juridicalPerson},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="juridicalPhone != null  and juridicalPhone != ''">#{juridicalPhone},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="update" parameterType="IndustrialRegister">
        update industrial_register
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyName != null  and companyName != ''">company_name = #{companyName},</if>
            <if test="creditCode != null  and creditCode != ''">credit_code = #{creditCode},</if>
            <if test="tradeName != null  and tradeName != ''">trade_name = #{tradeName},</if>
            <if test="tradeId != null  and tradeId != ''">trade_id = #{tradeId},</if>
            <if test="registerCapital != null  and registerCapital != ''">register_capital = #{registerCapital},</if>
            <if test="companyLocation != null  and companyLocation != ''">company_location = #{companyLocation},</if>
            <if test="juridicalPerson != null  and juridicalPerson != ''">juridical_person = #{juridicalPerson},</if>
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="projectName != null  and projectName != ''">project_name = #{projectName},</if>
            <if test="juridicalPhone != null  and juridicalPhone != ''">juridical_phone = #{juridicalPhone},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update industrial_register set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>


</mapper>