<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectContractDetailsMapper">

    <sql id="projectContractDetailsColumns">
    a.id AS "id",
        a.contract_id AS "contractId",
        a.file_name AS "fileName",
        a.file_path AS "filePath",
        a.del_flag AS "delFlag",
        a.project_id as "projectId",
        a.contract_items as "contractItems"
         </sql>

    <sql id="projectContractDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectContractDetails">
        SELECT
        <include refid="projectContractDetailsColumns"/>
        FROM
        project_contract_details a
        <include refid="projectContractDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectContractDetails">
        SELECT
        <include refid="projectContractDetailsColumns"/>
        FROM
        project_contract_details a
        <include refid="projectContractDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="contractId != null  and contractId != ''">and a.contract_id = #{contractId}</if>
            <if test="fileName != null  and fileName != ''">and a.file_name like concat('%', #{fileName}, '%')</if>
            <if test="projectId != null and projectId != ''">
                and a.project_id = #{projectId}
            </if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectContractDetails">
        insert into project_contract_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="contractId != null  and contractId != ''">contract_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="contractItems != null  and contractItems != ''">contract_items,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="contractId != null  and contractId != ''">#{contractId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="contractItems != null  and contractItems != ''">#{contractItems},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectContractDetails">
        update project_contract_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractId != null  and contractId != ''">contract_id = #{contractId},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="contractItems != null  and contractItems != ''">contract_items = #{contractItems},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_contract_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByContract" parameterType="String">
        update project_contract_details set del_flag = #{DEL_FLAG_DELETE} where contract_id = #{contractId}
    </delete>

    <delete id="deleteByProject" parameterType="String">
        update project_contract_details set del_flag = #{DEL_FLAG_DELETE} where contract_id = #{contractId}
    </delete>

</mapper>