<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectCompanyDetailsMapper">
    
    <sql id="projectCompanyDetailsColumns">
    a.id AS "id",
        a.project_id AS "projectId",
        a.company AS "company",
        a.del_flag AS "delFlag"        </sql>

    <sql id="projectCompanyDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectCompanyDetails">
        SELECT
        <include refid="projectCompanyDetailsColumns"/>
        FROM
        project_company_details a
        <include refid="projectCompanyDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectCompanyDetails">
        SELECT
        <include refid="projectCompanyDetailsColumns"/>
        FROM
        project_company_details a
        <include refid="projectCompanyDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
                                    <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
                            </where>
    </select>


    <insert id="insert" parameterType="ProjectCompanyDetails">
        insert into project_company_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="company != null  and company != ''">company,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="company != null  and company != ''">#{company},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="update" parameterType="ProjectCompanyDetails">
        update project_company_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="company != null  and company != ''">company = #{company},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_company_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
            </delete>

    <delete id="deleteByProject" parameterType="String">
        delete from project_company_details where project_id = #{projectId}
    </delete>

</mapper>