<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectProcessDetailsMapper">

    <sql id="projectProcessDetailsColumns">
    a.id AS "id",
        a.process_id AS "processId",
        a.user_id AS "userId",
        a.user_name AS "userName",
        a.sort AS "sort",
        a.step AS "step",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.del_flag AS "delFlag",
        a.reason as "reason"
        </sql>

    <sql id="projectProcessDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectProcessDetails">
        SELECT
        <include refid="projectProcessDetailsColumns"/>
        FROM
        project_process_details a
        <include refid="projectProcessDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectProcessDetails">
        SELECT
        <include refid="projectProcessDetailsColumns"/>
        FROM
        project_process_details a
        <include refid="projectProcessDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="processId != null  and processId != ''">and a.process_id = #{processId}</if>
            <if test="userId != null  and userId != ''">and a.user_id = #{userId}</if>
            <if test="userName != null  and userName != ''">and a.user_name like concat('%', #{userName}, '%')</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectProcessDetails">
        insert into project_process_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="processId != null  and processId != ''">process_id,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="sort != null ">sort,</if>
            <if test="step != null  and step != ''">step,</if>
            <if test="createDate != null ">create_date,</if>
            <if test="updateDate != null ">update_date,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="reason != null  and reason != ''">reason,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="processId != null  and processId != ''">#{processId},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="sort != null ">#{sort},</if>
            <if test="step != null  and step != ''">#{step},</if>
            <if test="createDate != null ">#{createDate},</if>
            <if test="updateDate != null ">#{updateDate},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectProcessDetails">
        update project_process_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="processId != null  and processId != ''">process_id = #{processId},</if>
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="sort != null ">sort = #{sort},</if>
            <if test="step != null  and step != ''">step = #{step},</if>
            <if test="createDate != null ">create_date = #{createDate},</if>
            <if test="updateDate != null ">update_date = #{updateDate},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_process_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
            </delete>

</mapper>