<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectProcessMapper">

    <sql id="projectProcessColumns">
    a.id AS "id",
        a.project_id AS "projectId",
        a.step AS "step",
        a.type AS "type",
        a.status AS "status",
        a.reason AS "reason",
        a.reboot_date AS "rebootDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.dept_id AS "deptId"        </sql>

    <sql id="projectProcessLeftJoin">
    </sql>

    <select id="get" resultType="ProjectProcess">
        SELECT
        <include refid="projectProcessColumns"/>
        FROM
        project_process a
        <include refid="projectProcessLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectProcess">
        SELECT
        <include refid="projectProcessColumns"/>
        FROM
        project_process a
        <include refid="projectProcessLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="projectId != null  and projectId != ''">and a.project_id = #{projectId}</if>
            <if test="type != null  and type != ''">and a.type = #{type}</if>
            <if test="status != null  and status != ''">and a.status = #{status}</if>
            <if test="deptId != null  and deptId != ''">and a.dept_id = #{deptId}</if>
            <if test="step != null  and step != ''">and a.step = #{step}</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectProcess">
        insert into project_process
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="step != null  and step != ''">step,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="rebootDate != null ">reboot_date,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="deptId != null  and deptId != ''">dept_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="step != null  and step != ''">#{step},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="rebootDate != null ">#{rebootDate},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="deptId != null  and deptId != ''">#{deptId},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectProcess">
        update project_process
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="step != null  and step != ''">step = #{step},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="rebootDate != null ">reboot_date = #{rebootDate},</if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="deptId != null  and deptId != ''">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_process set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
            </delete>

</mapper>