<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectInvestigateFileMapper">

    <sql id="projectInvestigateFileColumns">
    a.id AS "id",
        a.investigate_id AS "investigateId",
        a.file_name AS "fileName",
        a.file_path AS "filePath",
        a.del_flag AS "delFlag"        </sql>

    <sql id="projectInvestigateFileLeftJoin">
    </sql>

    <select id="get" resultType="ProjectInvestigateFile">
        SELECT
        <include refid="projectInvestigateFileColumns"/>
        FROM
        project_investigate_file a
        <include refid="projectInvestigateFileLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectInvestigateFile">
        SELECT
        <include refid="projectInvestigateFileColumns"/>
        FROM
        project_investigate_file a
        <include refid="projectInvestigateFileLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="investigateId != null  and investigateId != ''">and a.investigate_id = #{investigateId}</if>
            <if test="fileName != null  and fileName != ''">and a.file_name like concat('%', #{fileName}, '%')</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectInvestigateFile">
        insert into project_investigate_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="investigateId != null  and investigateId != ''">investigate_id,</if>
            <if test="fileName != null  and fileName != ''">file_name,</if>
            <if test="filePath != null  and filePath != ''">file_path,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="investigateId != null  and investigateId != ''">#{investigateId},</if>
            <if test="fileName != null  and fileName != ''">#{fileName},</if>
            <if test="filePath != null  and filePath != ''">#{filePath},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectInvestigateFile">
        update project_investigate_file
        <trim prefix="SET" suffixOverrides=",">
            <if test="investigateId != null  and investigateId != ''">investigate_id = #{investigateId},</if>
            <if test="fileName != null  and fileName != ''">file_name = #{fileName},</if>
            <if test="filePath != null  and filePath != ''">file_path = #{filePath},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_investigate_file set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByInvestigate" parameterType="String">
        update project_investigate_file set del_flag = #{DEL_FLAG_DELETE} where investigate_id = #{investigateId}
    </delete>

</mapper>