<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectDealDetailsMapper">

    <sql id="projectDealDetailsColumns">
    a.id AS "id",
        a.project_name AS "projectName",
        a.project_id AS "projectId",
        a.deal_user_name AS "dealUserName",
        a.deal_create_date AS "dealCreateDate",
        a.deal_type AS "dealType",
        a.company_user_name AS "companyUserName",
        a.company_user_post AS "companyUserPost",
        a.project_debriefing AS "projectDebriefing",
        a.project_issues AS "projectIssues",
        a.project_follow_up AS "projectFollowUp",
        a.del_flag AS "delFlag"
        </sql>

    <sql id="projectDealDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectDealDetails">
        SELECT
        <include refid="projectDealDetailsColumns"/>
        FROM
        project_deal_details a
        <include refid="projectDealDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectDealDetails">
        SELECT
        <include refid="projectDealDetailsColumns"/>
        FROM
        project_deal_details a
        <include refid="projectDealDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="projectName != null  and projectName != ''">and a.project_name like concat('%', #{projectName},
                '%')
            </if>
            <if test="projectId != null  and projectId != ''">and a.project_id = #{projectId}</if>
            <if test="dealUserName != null  and dealUserName != ''">and a.deal_user_name like concat('%',
                #{dealUserName}, '%')
            </if>
            <if test="dealType != null  and dealType != ''">and a.deal_type = #{dealType}</if>
            <if test="companyUserName != null  and companyUserName != ''">and a.company_user_name like concat('%',
                #{companyUserName}, '%')
            </if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectDealDetails">
        insert into project_deal_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="projectName != null  and projectName != ''">project_name,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="dealUserName != null  and dealUserName != ''">deal_user_name,</if>
            <if test="dealCreateDate != null ">deal_create_date,</if>
            <if test="dealType != null  and dealType != ''">deal_type,</if>
            <if test="companyUserName != null  and companyUserName != ''">company_user_name,</if>
            <if test="companyUserPost != null  and companyUserPost != ''">company_user_post,</if>
            <if test="projectDebriefing != null  and projectDebriefing != ''">project_debriefing,</if>
            <if test="projectIssues != null  and projectIssues != ''">project_issues,</if>
            <if test="projectFollowUp != null  and projectFollowUp != ''">project_follow_up,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="dealUserName != null  and dealUserName != ''">#{dealUserName},</if>
            <if test="dealCreateDate != null ">#{dealCreateDate},</if>
            <if test="dealType != null  and dealType != ''">#{dealType},</if>
            <if test="companyUserName != null  and companyUserName != ''">#{companyUserName},</if>
            <if test="companyUserPost != null  and companyUserPost != ''">#{companyUserPost},</if>
            <if test="projectDebriefing != null  and projectDebriefing != ''">#{projectDebriefing},</if>
            <if test="projectIssues != null  and projectIssues != ''">#{projectIssues},</if>
            <if test="projectFollowUp != null  and projectFollowUp != ''">#{projectFollowUp},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectDealDetails">
        update project_deal_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectName != null  and projectName != ''">project_name = #{projectName},</if>
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="dealUserName != null  and dealUserName != ''">deal_user_name = #{dealUserName},</if>
            <if test="dealCreateDate != null ">deal_create_date = #{dealCreateDate},</if>
            <if test="dealType != null  and dealType != ''">deal_type = #{dealType},</if>
            <if test="companyUserName != null  and companyUserName != ''">company_user_name = #{companyUserName},</if>
            <if test="companyUserPost != null  and companyUserPost != ''">company_user_post = #{companyUserPost},</if>
            <if test="projectDebriefing != null  and projectDebriefing != ''">project_debriefing =
                #{projectDebriefing},
            </if>
            <if test="projectIssues != null  and projectIssues != ''">project_issues = #{projectIssues},</if>
            <if test="projectFollowUp != null  and projectFollowUp != ''">project_follow_up = #{projectFollowUp},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_deal_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByProject" parameterType="String">
        update project_deal_details set del_flag = #{DEL_FLAG_DELETE} where project_id = #{projectId}
    </delete>

</mapper>