<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectReceptionDetailsMapper">

    <sql id="projectReceptionDetailsColumns">
    a.id AS "id",
        a.reception_id AS "receptionId",
        a.dept AS "dept",
        a.name AS "name",
        a.del_flag AS "delFlag"        </sql>

    <sql id="projectReceptionDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectReceptionDetails">
        SELECT
        <include refid="projectReceptionDetailsColumns"/>
        FROM
        project_reception_details a
        <include refid="projectReceptionDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectReceptionDetails">
        SELECT
        <include refid="projectReceptionDetailsColumns"/>
        FROM
        project_reception_details a
        <include refid="projectReceptionDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="receptionId != null  and receptionId != ''">and a.reception_id = #{receptionId}</if>
            <if test="name != null  and name != ''">and a.name like concat('%', #{name}, '%')</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectReceptionDetails">
        insert into project_reception_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="receptionId != null  and receptionId != ''">reception_id,</if>
            <if test="dept != null  and dept != ''">dept,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="receptionId != null  and receptionId != ''">#{receptionId},</if>
            <if test="dept != null  and dept != ''">#{dept},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectReceptionDetails">
        update project_reception_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="receptionId != null  and receptionId != ''">reception_id = #{receptionId},</if>
            <if test="dept != null  and dept != ''">dept = #{dept},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_reception_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByReception" parameterType="String">
        update project_reception_details set del_flag = #{DEL_FLAG_DELETE} where reception_id = #{receptionId}
    </delete>

</mapper>