<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectInvestigateMapper">

    <sql id="projectInvestigateColumns">
    a.id AS "id",
        a.project_id AS "projectId",
        a.investigate_start_time AS "investigateStartTime",
        a.investigate_end_time AS "investigateEndTime",
        a.main_leader AS "mainLeader",
        a.other_leader AS "otherLeader",
        a.investigate_plane AS "investigatePlane",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.travel_date as "travelDate",
        a.return_trip_date as "returnTripDate",
        a.project_name as "projectName",
        a.travel as "travel",
        a.address as "address"
        </sql>

    <sql id="projectInvestigateLeftJoin">
    </sql>

    <select id="get" resultType="ProjectInvestigate">
        SELECT
        <include refid="projectInvestigateColumns"/>
        FROM
        project_investigate a
        <include refid="projectInvestigateLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectInvestigate">
        SELECT
        <include refid="projectInvestigateColumns"/>
        FROM
        project_investigate a
        <include refid="projectInvestigateLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="projectId != null  and projectId != ''">and a.project_id = #{projectId}</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectInvestigate">
        insert into project_investigate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="investigateStartTime != null ">investigate_start_time,</if>
            <if test="investigateEndTime != null ">investigate_end_time,</if>
            <if test="mainLeader != null  and mainLeader != ''">main_leader,</if>
            <if test="otherLeader != null  and otherLeader != ''">other_leader,</if>
            <if test="investigatePlane != null  and investigatePlane != ''">investigate_plane,</if>
            <if test="remarks != null  and remarks != ''">remarks,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="travelDate != null">travel_date,</if>
            <if test="returnTripDate != null">return_trip_date,</if>
            <if test="projectName != null  and projectName != ''">project_name,</if>
            <if test="travel != null  and travel != ''">travel,</if>
            <if test="address != null  and address != ''">address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="investigateStartTime != null ">#{investigateStartTime},</if>
            <if test="investigateEndTime != null ">#{investigateEndTime},</if>
            <if test="mainLeader != null  and mainLeader != ''">#{mainLeader},</if>
            <if test="otherLeader != null  and otherLeader != ''">#{otherLeader},</if>
            <if test="investigatePlane != null  and investigatePlane != ''">#{investigatePlane},</if>
            <if test="remarks != null  and remarks != ''">#{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="travelDate != null">#{travelDate},</if>
            <if test="returnTripDate != null">#{returnTripDate},</if>
            <if test="projectName != null  and projectName != ''">#{projectName},</if>
            <if test="travel != null  and travel != ''">#{travel},</if>
            <if test="address != null  and address != ''">#{address},</if>
        </trim>
    </insert>

    <update id="update" parameterType="ProjectInvestigate">
        update project_investigate
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="investigateStartTime != null ">investigate_start_time = #{investigateStartTime},</if>
            <if test="investigateEndTime != null ">investigate_end_time = #{investigateEndTime},</if>
            <if test="mainLeader != null  and mainLeader != ''">main_leader = #{mainLeader},</if>
            <if test="otherLeader != null  and otherLeader != ''">other_leader = #{otherLeader},</if>
            <if test="investigatePlane != null  and investigatePlane != ''">investigate_plane = #{investigatePlane},
            </if>
            <if test="remarks != null  and remarks != ''">remarks = #{remarks},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="travelDate != null">travel_date = #{travelDate},</if>
            <if test="returnTripDate != null">return_trip_date = #{returnTripDate},</if>
            <if test="projectName != null  and projectName != ''">project_name = #{projectName},</if>
            <if test="travel != null  and travel != ''">travel = #{travel},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_investigate set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByProject" parameterType="String">
        update project_investigate set del_flag = #{DEL_FLAG_DELETE} where project_id = #{projectId}
    </delete>



</mapper>