<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.ProjectAreaDetailsMapper">
    
    <sql id="projectAreaDetailsColumns">
        a.id AS "id",
        a.project_id AS "projectId",
        a.area_type AS "areaType",
        a.area_count AS "areaCount",
        a.del_flag AS "delFlag",
        a.contain AS "contain"
    </sql>

    <sql id="projectAreaDetailsLeftJoin">
    </sql>

    <select id="get" resultType="ProjectAreaDetails">
        SELECT
        <include refid="projectAreaDetailsColumns"/>
        FROM
        project_area_details a
        <include refid="projectAreaDetailsLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="ProjectAreaDetails">
        SELECT
        <include refid="projectAreaDetailsColumns"/>
        FROM
        project_area_details a
        <include refid="projectAreaDetailsLeftJoin"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="projectId != null  and projectId != ''"> and a.project_id = #{projectId}</if>
            <if test="areaType != null  and areaType != ''"> and a.area_type = #{areaType}</if>
        </where>
    </select>


    <insert id="insert" parameterType="ProjectAreaDetails">
        insert into project_area_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="projectId != null  and projectId != ''">project_id,</if>
            <if test="areaType != null  and areaType != ''">area_type,</if>
            <if test="areaCount != null  and areaCount != ''">area_count,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="contain != null  and contain != ''">contain,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="projectId != null  and projectId != ''">#{projectId},</if>
            <if test="areaType != null  and areaType != ''">#{areaType},</if>
            <if test="areaCount != null  and areaCount != ''">#{areaCount},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="contain != null  and contain != ''">#{contain},</if>
         </trim>
    </insert>

    <update id="update" parameterType="ProjectAreaDetails">
        update project_area_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null  and projectId != ''">project_id = #{projectId},</if>
            <if test="areaType != null  and areaType != ''">area_type = #{areaType},</if>
            <if test="areaCount != null  and areaCount != ''">area_count = #{areaCount},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="contain != null  and contain != ''">contain = #{contain},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="String">
        update project_area_details set del_flag = #{DEL_FLAG_DELETE} where id = #{id}
    </delete>

    <delete id="deleteByProject" parameterType="String">
        delete from project_area_details where project_id = #{projectId}
    </delete>

</mapper>