<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highnes.attractinvestment.mapper.SysRoleMenuMapper">
    
    <sql id="sysRoleMenuColumns">
        a.role_id AS "roleId",
        a.menu_id AS "menuId",
        a.rights AS "rights"
    </sql>

    <sql id="sysRoleMenuLeftJoin">
    </sql>

    <select id="get" resultType="SysRoleMenu">
        SELECT
        <include refid="sysRoleMenuColumns"/>
        FROM
        sys_role_menu a
        <include refid="sysRoleMenuLeftJoin"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="SysRoleMenu">
        SELECT
        <include refid="sysRoleMenuColumns"/>
        FROM
        sys_role_menu a
        <include refid="sysRoleMenuLeftJoin"/>
        <where>
            1=1
        </where>
    </select>

    <select id="selSysRoleListByRoleId" resultType="SysRoleMenu">
        SELECT
        <include refid="sysRoleMenuColumns"/>
        FROM
        sys_role_menu a
        <include refid="sysRoleMenuLeftJoin"/>
        <where>
            1=1
            <if test="roleId !=null and roleId != ''"> and role_id = #{roleId}</if>
        </where>
    </select>


    <insert id="insert" parameterType="SysRoleMenu">
        insert into sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null ">role_id,</if>
            <if test="menuId != null ">menu_id,</if>
            <if test="rights != null  and rights != ''">rights,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null ">#{roleId},</if>
            <if test="menuId != null ">#{menuId},</if>
            <if test="rights != null  and rights != ''">#{rights},</if>
         </trim>
    </insert>

    <update id="update" parameterType="SysRoleMenu">
        update sys_role_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuId != null ">menu_id = #{menuId},</if>
            <if test="rights != null  and rights != ''">rights = #{rights},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <delete id="delete" parameterType="Long">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>

</mapper>